i.fa{
    color:#3688ff !important;
    margin-right:4px;}
.news{
    padding-top:27px !important;
    margin-bottom:60px;}
.news-container{
    width:1200px;
    margin:0 auto;
    overflow: hidden;}
.news-area{
    width:890px;
    margin-right:20px;
    margin-bottom:10px;
    float:left;}
.news-area .more-btn{
    display:block;
    margin-top:10px;
    margin-left:10px;
    background:#fff;
    line-height:60px;
    font-size:18px;
    color:#3688ff;
    text-align:center;
    box-shadow:-5px 0px 10px #f2f2f2,0px 5px 10px #f2f2f2,5px 0px 10px #d2d2d2;}
.news-nav{
    margin-left:10px;}
.news-nav a{
    color:#3688ff;
    margin-right:5px;}
.news-nav a:hover{
    color:#f74c4c;}
.news-list{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:40px 40px 30px 40px;
    margin-top:25px;
    margin-left:10px;
    box-shadow: 0 0 14px 0 rgba(46,61,73,.2);}
.news-list li a{
    display: block;
    font-size: 14px;
    color:#838080;
    border-bottom: 1px dashed #838080;
    padding-bottom: 18px;
    margin-bottom: 20px;
    overflow: hidden;}
.news-list li a:hover{
    border-color:#f74c4c;
    color:#f74c4c;}
.news-list li a span{
    float:left;}
.news-list li a i{
    float:right;
    font-style: normal;}

